*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: #0f1111;
    color:white;
    position: sticky;
    top: 0;
    
   
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url(rsz_l.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border:hover{
    border: 1px solid white;
}

/* <!-- Deliverling --> */
.nav-address{

}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left:15px;
}
.add-icon{
    display:flex;
    align-items: center;
}
.add-second{
    font-size: 0.85rem;
    margin: 3px;
     background-color: #f3f3f3;
    text-align: center;
    width: 115px;
   border-radius:2px;
}

/* Search Bar */
.nav-search{
    display:flex;
    justify-content: space-evenly;
    /* background-color: violet; */
    height: 40px;
    width:620px;
    border-radius: 4px;
    border: none;
}
.select{
    background-color: #f3f3f3;
    text-align: center;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
    width: 60px;
    border:none;
}
.search-input{
   width:100%;
   font-size: 1.1rem;
   border:none;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    background-color: #febd68;
    color: #0f1111;
    border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}

.nav-search:hover{
    border: 2px solid #febd68;
}
/* Account */

span{
    font-size: 0.85rem;
}
.acccount{
  font-size:0.85rem;
  font-weight:700;  
}

/* Cart */
.cart-border i{
    font-size:30px;
}
.cart-border{
    font-size:0.85rem;
  font-weight:700;
}

/* panel */
.panel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:40px;
    background-color: #222f3d;
    color:white;
   
    
}

.panel-ops p{
 display:inline;
 margin-left:30px;

}
.panel-all{
    margin-inline-start: 0%;
}
.panel-ops{
    width:40rem;
    font-size:1rem;
}
.ops-iteam{
   font-size:1rem;
    font-weight: 300;
}

/* Hero-section */
.herosection{
    
    height:350px;
    background-image: url('hero_image.jpg');
    background-size: cover;
    
}
.hero-txt{
    
    background-color: aliceblue;
    width: 1000px;
    
    text-align: center;
    border-radius: 5px;
    
}
.txt-align{
    text-align: center;
    display: flex;
    justify-content:space-evenly;
   height: 1.50rem;
    padding-top: 320px;
    /* padding-bottom: 20px;
    margin-bottom: 10px; */
    border-radius: 30px;
}

 a{
    text-decoration: none;
    color:brown;
}


/* box-content */
.box-section{
    display: flex;
    justify-content: space-evenly;
  background-color: #e2e7e6;
    
    }

.box{
    
    height:400px;
    width:23%;
    background-color: white;
    padding: 25px 5px 10px;
    margin-top:15px;
    border-radius: 5px;
    /* border: 2px solid black; */
}

.box-content{
    
    margin-top:1rem;
    margin-bottom:1rem;
}

.box-img{
    border-radius:4px;
    height:300px;
    background-size: cover;
    margin-top:1rem;
    margin-bottom: 1rem;
}
 .box-content p{ 
    color:#222f3d;
}